<nav class="flex justify-between items-center p-8">
  <a href="/" class="title">
    <h1>Exclusiv</h1>
  </a>
  <div class="flex items-center gap-4">
    <% if(!isAdmin && isMember) { %>
    <a href="/users/become-admin" class="btn btn-primary">Become an admin</a>
    <% } %>
    <% if(!isMember && isAuthenticated) { %>
    <a href="/users/become-member" class="btn btn-primary">Become a member</a>
    <% } %>
    <% if (isAuthenticated) { %>
      <a href="/users/logout" class="btn btn-alert">Logout</a>
    <% } %>
  </div>
</nav>
