<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/navbar", { isAuthenticated: true, isMember: false }) %> 
    <div class="flex flex-col justify-center items-center gap-8">
      <h1>Become member: </h1>
      <span class="text-gray">Hint: The best footballer of all time:</span>
      <form action="/users/become-member" method="post">
        <label for="password">
          <span>Password </span>
          <input type="password" name="password" id="password" required>
        </label>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
