<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="flex flex-col items-center justify-center gap-4 h-full p-8">
      <h1>Where <span class="text-green">Exclusivity</span> Meets <span class="text-green">Opportunity</span>.</h1>
      <p class="max-w-800 text-center">Welcome to Exclusiv, your exclusive gateway to a world of premium content, curated experiences, and a community of like-minded individuals. As a member, you're not just part of something special—you're part of a select group that enjoys unparalleled access, unique rewards, and connections that go beyond the ordinary. Get ready to unlock your next level!</p>
      <div class="flex gap-8 items-center">
        <a href="users/login" class="btn btn-primary">Login</a>
        <a href="users/signup" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
