<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="flex flex-col gap-4 p-8 ">
      <h1>Posts</h1> 
      <a href="/posts/create">Create a post</a>
      <ul class="flex flex-col gap-4">
        <% if(posts.length > 0) { %>
          <% posts.forEach((post) => { %>
            <li class="p-4 flex gap-4"><%= post.text %></li>
          <% }) %>
        <% } else { %>
          <h1>No posts</h1>
        <% } %>
      </ul>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
