<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/navbar", { isAuthenticated: false, isMember: false }) %>
    <div class="flex flex-col flex-grow-1 justify-center items-center gap-4 p-4">
      <form action="" method="post" class="flex flex-col gap-4 max-w-300 min-w-300">
        <ul class="flex flex-col gap-2">
          <% errors.forEach((error) => { %>
            <span class="alert"><%= error.msg %></span>
          <% }) %>
        </ul>
        <label for="firstname">
          <span>First Name </span>
          <input type="text" name="firstname" id="firstname" placeholder="Enter first name" >
        </label> 
        <label for="lastname">
          <span>Last Name </span>
          <input type="text" name="lastname" id="lastname" placeholder="Enter last name" >
        </label> 
        <label for="user_name">
          <span>Username </span>
          <input type="email" name="username" id="username" placeholder="Enter username" >
        </label> 
        <label for="password">
          <span>Password </span>
          <input type="password" name="password" id="password" placeholder="Enter password" >
        </label> 
        <label for="confirm_password">
          <span>Confirm Password </span>
          <input type="password" name="confirm_password" id="confirm_password" placeholder="Re-Enter password" >
        </label> 
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
